<div class="avatar-inline">
  <img
    width="40px" height="40px" class="avatar-img"
    src="/avatars/{{ avatar_filename }}"
    alt="{{ name }} Avatar"
    loading="lazy"
    decoding="async"
  />
  <span class="avatar-name">{{ name }}</span>
</div>
